<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njwb.dao.rendDao" >
    <resultMap type="rend" id="rendResult">
        <id property="id" column="id" />
        <result property="rend_address" column="rend_address" />
        <result property="rend_man" column="rend_man" />
        <result property="rend_start" column="rend_start" />
    </resultMap>

    <select id="getAllFinancialList" resultType="Financial" parameterType="String">
        select * from t_rend_info
    </select>

</mapper>
